<html>
    <p>Hej!</p>
    <p>Działa!</p>
</html>

<html>
    <head>
          <title>Monika blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Monika Blog</a></h1>
        </div>

        <div>
            <p>published: 09.04.2016, 16:11</p>
            <h2><a href="">Moj pierwszy post</a></h2>
            <p>Tadadadgfghgrekfkbdfkbmsoektoektpegdfbflbkla;lktetbfjhdkfrltpijsn.</p>
        </div>

        div>
            <p>published: 09.04.2016, 16:30</p>
            <h2><a href="">Moj drugi post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
